@sectionHeight: 3.125rem;

.general_container {
    line-height: initial;
    font-size: 1rem;
}

.selector_container {
    font-size: 0.9rem;
    background: #fff;
    .selector_sec {
        height: 3rem;
        line-height: 3rem;
        border-bottom: 1px solid #ccc;
        &:last-child {
            border-bottom: none;
        }
        span {
            &:first-child {
                color: #ccc;
            }
            &:nth-child(2) {
                margin-left: 1rem;
            }
            &:last-child {
                float: right;
            }
        }
    }
}

.shop_container {
    padding: 0.8rem 0;
    line-height: 2rem;
    .shop_header_img {
        width: 4rem;
        border-radius: 2rem;
        margin-right: 1rem;
    }
    .shop_name {
        font-weight: bold;
        font-size: 1.1rem;
    }
    .sub_title {}
    .shop_link {
        display: block;
        width: 8rem;
        margin: 0 auto;
        text-align: center;
        border: 1px solid @brand-primary;
        border-radius: 1rem;
        color: @brand-primary;
    }
}

.putincart {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: @sectionHeight;
    background: #eee;
    z-index: 99;

    .primary_btn {
        display: block;
        float: right;
        height: 100%;
        text-align: center;
        line-height: @sectionHeight;
        background: @brand-primary;
        color: #fff;
        font-size: 1.2rem;
        box-sizing: border-box;
    }

    .secondary_btn {
        display: block;
        float: left;
        height: 100%;
        text-align: center;
        line-height: @sectionHeight;
        font-size: 0.5rem;
        box-sizing: border-box;
        border-top: 1px solid #ccc;
        &:first-child {
            border-right: 1px solid #ccc;
        }
    }
}

.popup_modal {
    .am-modal-button-group-v .am-modal-button {
        background: @brand-primary;
        color: #fff;
    }
    .popup_modal_header {
        border-bottom: 1px solid #ccc;
        font-size: 1rem;
    }
    .popup_modal_content {
        max-height: 20rem;

        .content_sec {
            padding-bottom: 1rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid #ccc;

            header {
                color: #333;
            }
            .select_item {
                display: inline-block;
                text-align: center;
                min-width: 2rem;
                border: 1px solid #ccc;
                margin: 0.5rem 1rem 0 0;
                padding: 0.2rem 1rem;
            }
            .select_active {
                color: #333;
                border-color: #999;
                font-weight: bold;
            }
        }
    }
}

.iconH{
    width: 24px;
    height: 24px;
    margin: .5rem auto;
}
.iconH_inline{
    display: inline-block;
    vertical-align: middle;
}
.icon_home{
    background: url(../../../static/images/icons/home.png) center / 24px 24px no-repeat;
}
.icon_cart{
    background: url(../../../static/images/icons/cart.png) center / 24px 24px no-repeat;
}
.icon_comment{
    background: url(../../../static/images/icons/comment.png) center / 24px 24px no-repeat;
}
.icon_deliver{
    background: url(../../../static/images/icons/deliver.png) center / 24px 24px no-repeat;
}
.icon_pay{
    background: url(../../../static/images/icons/pay.png) center / 24px 24px no-repeat;
}
.icon_repair{
    background: url(../../../static/images/icons/repair.png) center / 24px 24px no-repeat;
}
.icon_ticket{
    background: url(../../../static/images/icons/ticket.png) center / 24px 24px no-repeat;
}
.icon_pie{
    background: url(../../../static/images/icons/pie.png) center / 24px 24px no-repeat;
}
.icon_calendar{
    background: url(../../../static/images/icons/calendar.png) center / 24px 24px no-repeat;
}
.icon_wait{
    background: url(../../../static/images/icons/wait.png) center / 24px 24px no-repeat;
}
.icon_await{
    background: url(../../../static/images/icons/await.png) center / 24px 24px no-repeat;
}
.icon_shop{
    background: url(../../../static/images/icons/shop.png) center / 24px 24px no-repeat;
}
.icon_product{
    background: url(../../../static/images/icons/product.png) center / 24px 24px no-repeat;
}
.icon_sharemoney{
    background: url(../../../static/images/icons/sharemoney.png) center / 24px 24px no-repeat;
}
.icon_coins{
    background: url(../../../static/images/icons/coins.png) center / 24px 24px no-repeat;
}
.icon_usero{
    background: url(../../../static/images/icons/user-o.png) center / 24px 24px no-repeat;
}
.icon_time{
    background: url(../../../static/images/icons/time.png) center / 24px 24px no-repeat;
}
