@sectionHeight: 3.125rem;

.general_container {
    line-height: initial;
    font-size: 1rem;
}

.selector_container {
    font-size: 0.9rem;
    background: #fff;
    .selector_sec {
        height: 3rem;
        line-height: 3rem;
        border-bottom: 1px solid #ccc;
        &:last-child{
            border-bottom: none;
        }
        span{
            &:first-child{
                color: #ccc;
            }
            &:nth-child(2){
                margin-left: 1rem;
            }
            &:last-child{
                float: right;
            }
        }
    }
}

.putincart {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: @sectionHeight;
    background: #eee;

    .primary_btn {
        display: block;
        float: right;
        height: 100%;
        text-align: center;
        line-height: @sectionHeight;
        background: @brand-primary;
        color: #fff;
        font-size: 1.2rem;
        box-sizing: border-box;
    }

    .secondary_btn {
        display: block;
        float: left;
        height: 100%;
        text-align: center;
        line-height: @sectionHeight;
        font-size: 0.5rem;
        box-sizing: border-box;
        border-top: 1px solid #ccc;
        &:first-child{
            border-right: 1px solid #ccc;
        }
    }
}

.popup_modal {
    .am-modal-button-group-v .am-modal-button {
        background: @brand-primary;
        color: #fff;
    }
    .popup_modal_header {
        border-bottom: 1px solid #ccc;
        font-size: 1rem;
    }
    .popup_modal_content {
        max-height: 20rem;

        .content_sec {
            padding-bottom: 1rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid #ccc;

            header {
                color: #333;
            }
            .select_item {
                display: inline-block;
                text-align: center;
                min-width: 2rem;
                border: 1px solid #ccc;
                margin: 0.5rem 1rem 0 0;
                padding: 0.2rem 1rem;
            }
            .select_active {
                color: #333;
                border-color: #999;
                font-weight: bold;
            }
        }
    }
}
