@tabHeight: 3.125rem;
@searchHeight: 2.75rem;

.clearfix {
    overflow: hidden;
    _zoom: 1;
}

.fullHeightContainer {

    .primaryMenu {
        float: left;
        width: 30%;
        height: 100%;
        overflow-y: auto;
        background: #fff;
        .am-accordion .am-accordion-item .am-accordion-header,
        .am-list-item .am-list-line .am-list-content{
            font-size: 0.8rem;
        }
    }

    .secondaryMenu {
        float: left;
        width: 70%;
        height: 100%;
        overflow-y: auto;
        font-size: 0.8rem;
        .cate_item {
            width: 50%;
            float: left;
            text-align: center;
            
            .cate_img {
                width: 60%;
            }
        }
    }
}
