.my_header{
    background: @brand-primary;
    padding: 1rem;
    text-align: center;

    &_img{
        border: 1px solid #fff;
        border-radius: 2rem;
        width: 4rem;
        overflow: hidden;
    }

    &_text{
        color: #fff;
        line-height: 2.5rem;
        height: 2.5rem;
    }
}

.my_content_right{
    float: right;
    color: #999;
}
